<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\workspace\Salamander.Mabas\Salamander.Mabas.Client\bin\Debug\netcoreapp3.0\Salamander.Mabas.Client.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
          <environmentVariable name="Key" value="Value" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>